$black: #2F2F2F;
$white: #fff;

$grey: #E6E6E6;
$purple: #3B3393;
$red: #EB3333;
$bgcolor: #EBEBEB;


$orange: #E1AC54;
$lightBlack: #382a2a;


$pink400: #F843BF;
$pink200: #FF83E2;
$pink100: #FFCDF3;
$white: #FFF;
$black: #1E1F32;
$grey: #28293E;
$grey-light: #46475A;
$bgbtn: #BD0078;
