$black: #1E1F32;
$lightBlack: #28293E;
$white: #fff;
$pink: #FF58CA;
$redPink: #D90273;
$grey: #28293E;

$purple: #3B3393;
$red: #EB3333;
$bgcolor: #EBEBEB;
$orange: #E1AC54;

$grey-light: #46475A;
$bgbtn: $pink;
