@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: local("Myriad Pro"), local("Myriad Pro Regular"),
    url("../fonts/Myriad-Pro-Regular.woff2") format("woff2"),
    url("../fonts/Myriad-Pro-Regular.woff") format("woff");
}


@font-face {
  font-family: "Mossport";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: local("Mossport"),
    url("../fonts/Mossport.woff2") format("woff2"),
    url("../fonts/Mossport.woff") format("woff");
}

@font-face {
   font-family: "GorhamPro";
   font-display: swap;
   font-weight: 500;
   font-style: normal;
   src: local("GorhamPro"),
     url("../fonts/GothamPro-Medium.woff2") format("woff2"),
     url("../fonts/GothamPro-Medium.woff") format("woff");
 }

 @font-face {
   font-family: "GorhamPro";
   font-display: swap;
   font-weight: 400;
   font-style: normal;
   src: local("GorhamPro"),
     url("../fonts/GothamPro.woff2") format("woff2"),
     url("../fonts/GothamPro.woff") format("woff");
 }


 @font-face {
   font-family: "Montserrat";
   font-display: swap;
   font-weight: 600;
   font-style: normal;
   src: local("Montserrat"),
     url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
     url("../fonts/Montserrat-SemiBold.woff") format("woff");
 }