$myriad: "MyriadPro", "Arial", sans-serif;
$mossport: "Mossport", "Arial", sans-serif;
$gotham: "GorhamPro", "Arial", sans-serif;
$montserrat: "Montserrat", "Arial", sans-serif;

$xs: 320px;
$mobile: 743px;
$tablet: 1024px;
$laptop: 1279px;
$desktop: 1439px;
$extra: 2dppx;

$tr: 0.2s ease-in-out;
$section-spacing: 16rem;
