.activities {
   position: relative;

   &__vector-right {
      width: 90rem;
      position: absolute;
      top: -16rem;
      right: 0;
      transform: translateX(50%);

      @media (max-width: $tablet) {
         display: none;
      }
   }

   &__vector-left {
      width: 80rem;
      position: absolute;
      top: -12rem;
      left: 0;
      transform: translateX(-50%);

      @media (max-width: $tablet) {
         display: none;
      }
   }

   &__wrapper {
      position: relative;
   }

   &__extra-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      padding-bottom: $section-spacing;
      z-index: 10;

      @media (max-width: $tablet) {
         padding-bottom: 8.6rem;
      }
   }

   &__title-big {
      display: block;

      @media (max-width: $mobile) {
         display: none;
       }
   }

   &__title-small {
      display: none;

      @media (max-width: $mobile) {
         display: block;
       }
   }

   &__buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.6rem;
      z-index: 10;
      margin-bottom: 5rem;
      flex-wrap: wrap;

      @media (max-width: $tablet) {
         gap: 1.2rem;
         margin-bottom: 2rem;
       }
   }

   &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2.4rem;
      row-gap: 2rem;

      @media (max-width: $mobile) {
         grid-template-columns: 1fr;
         row-gap: 0.6rem;
       }
   }

   &__list[hidden] {
      display: none;
    }

   &__list-сenter {
      display: flex;
      justify-content: center;
   }

   &__info-soon {
      color: $white;
      font-family: $gotham;
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      text-align: center;

      @media (max-width: $tablet) {
         font-size: 2rem;
       }

       @media (max-width: $mobile) {
         font-size: 1.6rem;
       }
   }



   &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-radius: 20px;
      background: $grey;
      padding: 2rem;
      gap: 15px;

      @media (max-width: $tablet) {
         padding: 1rem;
         border-radius: 9.68px;
       }

      &.star {
         background-image: url('../img/activities/ellipse.png');
         background-size: contain;
         background-repeat: no-repeat;
         background-size: 100% 100%;
      }
   }

   &__item-left {
      display: flex;
      flex-direction: row;
      gap: 1.6rem;

      @media (max-width: $tablet) {
         gap: 0.6rem;
       }
   }

   &__item-image {
      border-radius: 10px;
      width: 11.3rem;
      height: 12.2rem;
      overflow: hidden;
      flex-shrink: 0;

      @media (max-width: $tablet) {
         width: 5.5rem;
         height: 6rem;
       }

      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         display: block;
      }
   }

   &__item-content {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      max-width: 32rem;
   }

   &__item-title {
      color: $white;
      font-family: $gotham;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 28px */

      @media (max-width: $tablet) {
         font-size: 1.1rem;
       }
   }

   &__item-time {
      color: $pink200;
      font-family: $gotham;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2rem;

      @media (max-width: $tablet) {
         font-size: 0.9rem;
       }
   }

   &__link,
   &__free-entry {
      color: $white;
      font-family: $white;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2rem;
      padding: 1.5rem 2rem;
      border-radius: 12px;
      flex-shrink: 0;
      white-space: nowrap;

      @media (max-width: $tablet) {
         padding: 0.6rem 1rem;
         font-size: 0.9rem;
         border-radius: 6px;
       }
   }

   &__link {
      background: $pink400;
      text-decoration: none;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
         background: $white;
         color: $grey;
      }
   }

   &__free-entry {
      background: $grey-light;
   }

   &__link {
      display: none;
    }

    &__free-entry {
      display: none;
    }

    &__item-right--registration &__link {
      display: block;
    }

    &__item-right--registration &__free-entry {
      display: none;
    }

    &__item-right--free &__link {
      display: none;
    }

    &__item-right--free &__free-entry {
      display: block;
    }

    &__item-right--registration-soon {
      .activities__registration-soon {
        display: block;
      }
    }
}

