.bullits {
  position: relative;
  padding-bottom: 7.4rem;
  z-index: 7;

  @media (max-width: $tablet) {
    padding-bottom: 7rem;
  }

  @media(max-width: $mobile) {
    padding-bottom: 4.5rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    @media (max-width: $mobile) {
      flex-wrap: wrap;
      max-width: 50rem;
      margin: 0 auto;
    }

  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 31.7rem;
    height: 30.7rem;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;

    @media(max-width: $tablet) {
      width: 19rem;
      height: 18.4rem;
    }

    @media (max-width: $mobile) {
      width: 50%;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      pointer-events: none;
      user-select: none;
      border-radius: 36px;

      @media(max-width: $tablet) {
        border-radius: 21px;
      }

      @media (max-width: $mobile) {
        border-radius: 20px;
        width: 95%;
        height: 86%;
      }
    }

    &--white {
      color: $purple;
      &:before {
        background-color: $white;
        transform: rotate(8deg) translateX(1.1rem);

        @media (max-width: $mobile) {
          transform: rotate(8deg) translateX(1rem);
        }
      }
    }

    &--purple {
      color: $white;
      text-decoration: none;
      &:before {
        background-color: $purple;
        transform: rotate(-8deg) translateX(0.7rem);
      }
    }

    &--2 {
      @media (max-width: $mobile) {
        &:before {
          left: -8px;
        }
      }
    }

    &--3 {
      &:before {
        transform: rotate(8deg) translateX(0.7rem);
        z-index: 7;
      }

      @media (max-width: $mobile) {
        color: $white;
        margin-top: -2.8rem;

        &:before {
          background-color: $purple;
          transform: rotate(-8deg) translateX(0.7rem);
          width: 97%;
        }
      }
    }

    &--4 {
      &:before {
        transform: rotate(-8deg) translateX(-1.4rem);
      }

      @media (max-width: $mobile) {
        color: $purple;
        margin-top: -2.8rem;
        z-index: 8;

        &:before {
          background-color: $white;
          transform: rotate(8deg) translateX(-0.3rem);

        }
      }
    }
  }


  &__item-title {
    position: relative;
    text-transform: uppercase;
    font-family: $mossport;
    font-size: 4.2rem;
    line-height: 1;
    color: inherit;
    z-index: 8;
    text-align: center;

    @media(max-width: $tablet) {
      font-size: 2.5rem;
    }

    @media(max-width: $mobile) {
      font-size: 2.4rem;
    }

    .bullits__item--1 & {
      margin: 6.8rem 0 0 2rem;

      @media(max-width: $tablet) {
        margin: 4.3rem 0 0 1.5rem;
      }

      @media (max-width: $mobile) {
        margin: 3.9rem 0 0 0.7rem;
      }
    }

    .bullits__item--2 & {
      margin: 6.8rem 0 0 1rem;

      @media(max-width: $tablet) {
        margin: 4.5rem 0 0 0.2rem;
      }

      @media(max-width: $mobile) {
        margin: 4rem 0 0 -1.4rem;
        max-width: 18.5rem;
      }
    }

    .bullits__item--3 & {
      margin: 6.8rem 0 0 2rem;

      @media(max-width: $tablet) {
        margin: 4.5rem 0 0 1.2rem;
      }

      @media(max-width: $mobile) {
        margin: 3.8rem 0 0 0.5rem;
      }
    }

    .bullits__item--4 & {
      margin: 7rem 2.5rem 0 0rem;

      @media(max-width: $tablet) {
        margin: 4.3rem 1.4rem 0 0rem;
      }

      @media (max-width: $mobile) {
        margin: 4rem 0.7rem 0 0;
      }
    }
  }

  &__item-hashtag {
    position: relative;
    font-size: 3.2rem;
    line-height: 1;
    color: inherit;
    z-index: 8;
    text-align: center;

    .bullits__item--1 & {
      margin: 0 0 9rem 2.2rem;

      @media(max-width: $tablet) {
        margin: 0 0 5.2rem 1.5rem;
      }

      @media (max-width: $mobile) {
        margin: 0 0 7.2rem 0.5rem;
      }
    }

    .bullits__item--2 & {
      margin: 0 0 9rem 0.5rem;

      @media(max-width: $tablet) {
        margin: 0 0 5.2rem 0.4rem;
      }

      @media (max-width: $mobile) {
        margin: 0 0 7.5rem -1.5rem;
      }
    }

    .bullits__item--3 & {
      margin: 0 0 9rem 2.2rem;

      @media(max-width: $tablet) {
        margin: 0 0 5.2rem 1.4rem;
      }

      @media (max-width: $mobile) {
        margin: 0 0 7.5rem 1rem;
      }
    }

    .bullits__item--4 & {
      margin: 0 2.5rem 6rem 0;

      @media(max-width: $tablet) {
        margin: 0 1.5rem 3.5rem 0;
      }

      @media(max-width: $mobile) {
        max-width: 10rem;
        margin: 0 1rem 6rem 0;
      }
    }

    @media(max-width: $tablet) {
      font-size: 1.9rem;
    }

    @media(max-width: $mobile) {
      font-size: 1.4rem;
    }

  }



}
