.child-zone {
  position: relative;
  z-index: 10;
  padding-top: 9rem;


  .container {
    @media (max-width: $tablet) {
      padding: 0;
    }
  }

  .header-l.mobile {
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        font-size: 2.2rem;
        margin-top: -0.5rem;
      }
    }
  }

   &__wrapper {
      padding: 0 0 14.8rem;

      @media (max-width: $tablet) {
        padding: 4.5rem 0 4.5rem 0;
        width: 100%;
        overflow: hidden;
      }

      @media (max-width: $mobile) {
        #men & {
          padding-top: 2.8rem;
        }
      }
   }

   @media (max-width: $tablet) {
      padding: 0;
    }

   &__decor {
    position: absolute;
    right: -100.2rem;
    top: -50rem;
    max-width: unset;
    user-select: none;
    pointer-events: none;
   }

   &__list {
      gap: 2.4rem;
      display: flex;
      justify-content: center;


      @media (max-width: $tablet) {
        justify-content: flex-start;
         display: flex;
         flex-wrap: nowrap;
         overflow-x: auto;
         gap: 1.2rem;


         scrollbar-width: none;
         -ms-overflow-style: none;
         padding: 0 2.4rem;
       }

       @media (max-width: $mobile) {
        padding: 0;
        gap: 1.6rem;
       }

   }

   &__list::-webkit-scrollbar {
      display: none; // Chrome, Safari
    }

   &__item {
      position: relative;
      border-radius: 30px;
      overflow: hidden;
      background: $grey;
      padding: 3rem;
      min-height: 40rem;
      width: 33.2rem;
      background: url(../img/child/bg.svg) no-repeat $grey;

      @media (max-width: $tablet) {
         min-width: 22.4rem;
         min-height: 27rem;
         flex: 0 0 22.4rem;
         scroll-snap-align: start;
         padding: 2rem;
       }
       @media (max-width: $mobile) {
        border-radius: 20px;
       }


   }

   &__item-desc {
      color: $white;
      font-family: $gotham;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      position: relative;
      z-index: 1;

      @media (max-width: $tablet) {
         font-size: 1.6rem;
       }
   }

   &__image {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
      z-index: 0;
   }
}
