.child-zone {
   &__wrapper {
      padding-block: 0 11rem;
   }

   &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2.4rem;
   }

   &__item {
      position: relative;
      border-radius: 30px;
      overflow: hidden; 
      background: $grey;
      padding: 3rem;
      min-height: 40rem;
   }

   &__item-desc {
      color: $white;
      font-family: $gotham;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      position: relative;        
      z-index: 1;  
   }

   &__image {
      position: absolute;
      inset: 0;                
      width: 100%;
      height: 100%;
      object-fit: cover;        
      z-index: 0; 
   }
}
