.footer {

   &__wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      // align-items: center;
      justify-content: space-between;
      border-radius: 40px 40px 0px 0px ;
      background: linear-gradient(86deg, #F843BF -8.75%, #D81A90 36.98%, #721663 95.47%);
      padding: 8rem 23.5rem 3.2rem 10rem;
      overflow: hidden;
   }

   &__vector-1 {
      width: 80rem;
      position: absolute;
      bottom: 0;
      transform: translateX(-50%);
      left: 50%;
      z-index: 1;
   }

    &__vector-2 {
      width: 80rem;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
   }


   &__left {
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 5;
   }

   .header-l {
      text-align: left;
      margin-bottom: 4.2rem;
   }

   &__contacts {
      display: flex;
      flex-direction: row;
      gap: 6.6rem;
      margin-bottom: 4rem;
   }

   &__contacts-item {
      display: flex;
      flex-direction: column;
      gap: 2.2rem;
   }

   &__contacts-title {
      color: $white;
      font-family: $gotham;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
   }

   &__contacts-link {
      color: $white;
      font-family: $gotham;
      font-size: 4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem;
   }


   &__info {
      color: $white;
      font-family: $gotham;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;

      ul {
         margin-top: 2.3rem;
         margin-bottom: 4.2rem;
         padding-left: 2rem;
         max-width: 85rem;
      }
   }

   &__docs {
      display: flex;
      flex-direction: row;
      gap: 4rem;

      a {
         color: $pink100;
         opacity: 0.8;
         font-family: $gotham;
         font-size: 1.6rem;
         font-style: normal;
         font-weight: 400;
         line-height: 2rem; 
         text-decoration: underline;
      }
   }

   &__right {
      align-self: center;
   }

   &__logos {
      display: flex;
      flex-direction: row;
      gap: 2.8rem;
      position: relative;
      z-index: 10;
   }

   &__logos-left {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
   }

}
