.partners {

   position: relative;

   &__main {
      padding-block: 0 $section-spacing;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      // z-index: 10;
   }

   &__vector {
      position: absolute;
      width: 68rem;
      bottom: 4rem;
      left: -50rem;
      transform: translateX(50%);
      z-index: -1;
   }

   .header-l {
      margin-bottom: 3rem;
   }

   &__title-small {
      color: rgba(255, 255, 255, 0.70);
      text-align: center;
      font-family: $gotham;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; 
      margin-bottom: 2.5rem;
   }

   &__organizers-section {
      margin-bottom: 3rem;
   }

   &__organizers-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2.4rem;
   }

   &__organizers-item {
      border-radius: 15.656px;
      background: $grey;
      padding: 2.58rem 6.02rem;
      cursor: pointer;
   }


   //partners

   &__partners-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2.4rem;
   }

   &__partners-item {
      border-radius: 15.656px;
      background: $grey;
      padding: 1.8rem 4rem;
      cursor: pointer;
   }
}
