.partners {

   position: relative;

   &__main {
      padding-block: 0 $section-spacing;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: $tablet) {
         padding-block: 0 8rem;
      }
   }

   &__vector {
      position: absolute;
      width: 68rem;
      bottom: 4rem;
      left: -50rem;
      transform: translateX(50%);
      z-index: -1;

      @media (max-width: $tablet) {
         display: none;
      }
   }

   .header-l {
      margin-bottom: 3rem;

      @media (max-width: $tablet) {
         margin-bottom: 2rem;
      }
   }

   &__title-small {
      color: rgba(255, 255, 255, 0.70);
      text-align: center;
      font-family: $gotham;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; 
      margin-bottom: 2.5rem;

      @media (max-width: $tablet) {
         font-size: 2rem;
         margin-bottom: 1rem;
      }
   }

   &__organizers-section {
      margin-bottom: 3rem;
   }

   // &__organizers-list {
   //    display: grid;
   //    grid-template-columns: 1fr 1fr 1fr;
   //    justify-content: center;
   //    align-items: center;
   //    gap: 2.4rem;

   //    @media (max-width: $tablet) {
   //       flex-direction: column;
   //       align-items: center;
   //       gap: 1rem;
   //    }
   // }

&__organizers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem;

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
}

&__organizers-item {
  padding: 1.8rem 4rem;
  border-radius: 15.656px;
  background: $white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    max-width: 17rem;
    height: 5rem;
    width: auto;
    transition: all 0.3s ease;
  }

  &.vertical img {
    height: 3rem;
  }

  &.ogorod img {
    margin-bottom: -0.9rem;
  }

  @media (max-width: $tablet) {
    padding: 1.2rem 2.4rem;

    img {
      max-width: 14rem;
      height: 4rem;
    }

    &.vertical img {
      height: 2.5rem;
    }
  }
}



   //partners

   &__partners-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2.4rem;
   }

   &__partners-item {
      border-radius: 15.656px;
      background: $grey;
      padding: 1.8rem 4rem;
      cursor: pointer;
   }
}
