.zones {
   position: relative;
   z-index: 2;

   .text-black {
      .zones__text,
      .zones__meta {
         color: $grey;
      }
   }

   &__wrapper {
      padding-block: 0 11.3rem;
      position: relative;
   }

   &__header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2.4rem;
   }


   &__accordeon {
      position: relative;
      z-index: 2;
      margin-top: 5rem;
   }


   &__item {
      width: 100%;
      // background-color: $grey;
      border-radius: 50px 50px 0 0;
      border: 1px solid  rgba(255, 255, 255, 0.60);
      margin-top: -5rem;
      background: $grey;
      background-repeat: no-repeat;
      background-size: cover;

      &.active {
         border-radius: 50px;
         margin-bottom: 5rem;
       }

      &:last-child {
         border-radius: 50px;
         
         button {
            padding: 3.3rem 4rem;
         }


         .zones__content {
            margin-top: -4.5rem;
          }
       }

      &.stretching {
         background-image: url('../../img/zones/stretching-bg.png');         
      }

      &.inneme {
         background-image: url('../../img/zones/inneme-bg.png');
      }

      &.dobro {
         background-image: url('../../img/zones/dobro-bg.png');
      }

      &.eazyway {
         background-image: url('../../img/zones/eazyway-bg.png');
      }

      &.krygina {
         background-image: url('../../img/zones/krygina-bg.png');
      }

      &.makeup {
         background-image: url('../../img/zones/makeup-bg.png');
      }
      &.bioniq {
         background-image: url('../../img/zones/bioniq-bg.png');
      }

      &.rexona {
         background-image: url('../../img/zones/rexona-bg.png');
      }

      &.zasport {
         background-image: url('../../img/zones/zasport-bg.png');
      }

      &.any-buddy {
         background-image: url('../../img/zones/any-bg.png');
      }

      &.refeel {
         background-image: url('../../img/zones/refeel-bg.png');
      }
   }

   

   &__toggler {
      font-family: $mossport;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      color: $white;
      font-size: 3.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      border: none;
      background: transparent;
      cursor: pointer;
      // padding: 0;
      padding: 3.3rem 4rem 7.2rem;


      @media (max-width: $tablet) {
         position: relative;
         font-size: 2.4rem;
         text-align: left;
         line-height: 1;
         height: auto;

      }

      @media (max-width: $mobile) {
         font-size: 2.4rem;
         line-height: 100%;
         text-align: left;
         align-items: flex-start;
         gap: 1rem;
         padding-right: 3rem;
      }

      &.active {
         .zones__down {
         display: none;
         }

         .zones__up {
         display: block;
         }

      }

   }

   &__icon {
      display: flex;
      width: 3.2rem;
      height: 3.2rem;

      img {
         width: 3.2rem;
         height: 3.2rem;
         fill: $purple;
         align-self: flex-start;
      }

      .zones__up {
         display: none;
      }

      @media (max-width: $tablet) {
         position: absolute;
         right: 0;
         top: -0.5rem;
         width: 2.7rem;
         height: 2.7rem;
         margin: 0 0 0 5rem;

         img {
         width: 2.7rem;
         height: 2.7rem;
         }
      }

      @media (max-width: $mobile) {
         margin: 0 0 0 1rem;
         top: 0.2rem;
      }
   }


   &__content {
      display: none;
      flex-direction: row;
      margin: 2rem 0 2rem;
      gap: 15.3rem;
      padding: 3.5rem 4rem;
      

      &.active {
         display: flex;
         align-items: start;
         margin-top: -8.6rem;
         padding: 3.5rem 4rem 2rem;
      }
   }

   &__info-wrapper {
      display: flex;
      flex-direction: column;
      gap: 4.5rem;
      max-width: 45.7rem;
   }

   &__text {
      color: $white;
      font-family: $gotham;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; 
   }

   &__meta-wrapper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }

   &__meta {
      display: flex;
      flex-direction: row;
      gap: 0.8rem;

      color: $white;
      font-family: $gotham;
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
   }

   &__activity-list {
      max-width: 65rem;
      display: flex;
      flex-wrap: wrap;   
      align-items: flex-start;   
      gap: 1.4rem;
   }

   &__activity-item {
      display: inline-block;  
      padding: 2rem 2.4rem;
      border-radius: 12px;
      background: $white;
      color: $grey;
      font-family: $gotham;
      font-size: 2rem;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;

   }
}